<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body class="flex h-screen bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">
    {{>header}}
    {{>form}}
    {{>footer}}
    </div>
</body>

</html>